In [18]:
import pandas as pd
import numpy as np



data = pd.read_csv("C:\pythondata\BDA\president_heights.csv")

heights = np.array(data['height(cm)'])
print(heights)

[189 170 189 163 183 171 185 168 173 183 173 173 175 178 183 193 178 173
 174 183 183 168 170 178 182 180 183 178 182 188 175 179 183 193 182 183
 177 185 188 188 182 185 191 182]

In [19]:
print("Mean height:          ", heights.mean())
print("Standard deviation:   ", heights.std())
print("Minimum height:       ", heights.min())
print("Maximum height:       ", heights.max())

Mean height:           180.04545454545453
Standard deviation:    6.983599441335736
Minimum height:        163
Maximum height:        193

In [20]:
data.describe()

           order  height(cm)
count  44.000000   44.000000
mean   23.522727  180.045455
std    13.729087    7.064337
min     1.000000  163.000000
25%    11.750000  174.750000
50%    24.000000  182.000000
75%    35.250000  183.500000
max    46.000000  193.000000

In [22]:
print("25%:", np.percentile(heights, 25))
print("Median:", np.median(heights))
print("75%:", np.percentile(heights, 75))

25%: 174.75
Median: 182.0
75%: 183.5

In [23]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn; seaborn.set()

In [ ]:
plt.hist(heights)
plt.title('Height Distrivuio')